<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>IL meteo di Frate Indovino</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/png" href="assets/img/logo.svg" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="styles/main.css"
    />
  </head>
  <body>
    <div class="webapp">
      <ul class="barra-punteggio">
        <li>Punti: {{punteggio}}</li>
        <li>Giorno: {{giorno}}</li>
      </ul>
      <div class="contenitore-meteo">
        <h3 v-if="!finitoMese">{{meteoDiOggi}}</h3>
        <p v-if="finitoMese">Hai finito il mese!</p>
      </div>
      <div class="button-container" v-if="!finitoMese">
        <button id="occhiali" v-on:click="occhiali()">
          <strong>😎</strong>
        </button>
        <button id="maglioncino" v-on:click="maglioncino()">
          <strong>🧥</strong>
        </button>
        <button id="ombrello" v-on:click="ombrello()">
          <strong>☂️</strong>
        </button>
      </div>
    </div>

    <script>
      var app = new Vue({
        el: ".webapp",
        data: {
          punteggio: 0,
          giorno: 1,
          condizioniMetereologiche: ["☀️", "🌧️", "☁️"],
          meteoDiOggi: "",
          lunghezzaMese: 3,
          finitoMese: false,
        },
        mounted: function () {
          this.nuovoMeteo();
        },
        methods: {
          nuovoMeteo: function () {
            var self = this;
            if (self.giorno > self.lunghezzaMese) {
              self.finitoMese = true;
              self.giorno -= 1;
            } else {
              var condizioneOdierna =
                self.condizioniMetereologiche[
                  Math.floor(
                    Math.random() * self.condizioniMetereologiche.length
                  )
                ];
              self.meteoDiOggi = condizioneOdierna;
              console.log(condizioneOdierna);
            }
          },

          // TODO: COMPLETARE LE FUNZIONI MAGLIONCINO E OMBRELLO AIUTANDOSI CON LA FUNZIONE OCCHIALI

          occhiali: function () {
            var self = this;
            self.controllaOutfit("😎");
          },

          // Quando si andrà a fare click sul bottone con il maglioncino si entrerà in questa funzione
          maglioncino: function () {
            /**
             *
             * Qui dentro ci sarà il codice che andrà a controllare se l'outfit
             * è corretto o meno, facendo una chiamata alla funzione
             * controllaOutfit() e passandogli come parametro il maglioncino
             *
             */
          },

          // Quando si andrà a fare click sul bottone con l'ombrello si entrerà in questa funzione
          ombrello: function () {
            /**
             *
             * Come per il maglioncino, qui dentro ci sarà il codice che andrà a controllare se l'outfit
             * è corretto o meno, facendo una chiamata alla funzione
             * controllaOutfit() e passandogli come parametro l'ombrello
             *
             */
          },

          // TODO: COMPLETARE LA FUNZIONE controllaOutfit() LEGGENDO IL COMMENTO SOTTOSTANTE

          /**
           * Questa funzione andrà a controllare se l'outfit è corretto o meno in base al meteo attuale
           * e al tipo di outfit che è stato scelto (parametro outfit)
           */
          controllaOutfit: function (outfit) {
            /**
             *
             * Completare la funzione controllaOutfit() in modo che:
             * - Se l'outfit è corretto, allora si aggiungerà un punto al punteggio
             * - Se l'outfit è sbagliato, allora non vengono aggiunti punti al punteggio
             * - Si aggiorna il giorno corrente incrementandolo di 1
             * - Alla fine si chiamera la funzione nuovoMeteo() per andare a generare un nuovo meteo
             *
             */
          },
        },
      });
    </script>
  </body>
</html>
